.keyboardArea {
  height: 100%;
  display: grid;
  gap: 0.2rem;
  grid-template-areas:
    "AC plusminus percentage division"
    "seven eight nine X"
    "four five six minus"
    "one two three add"
    "zero zero decimal equals";
}

.b0 {
  grid-area: zero;
}

.b1 {
  grid-area: one;
}

.b2 {
  grid-area: two;
}

.b3 {
  grid-area: three;
}

.b4 {
  grid-area: four;
}

.b5 {
  grid-area: five;
}

.b6 {
  grid-area: six;
}

.b7 {
  grid-area: seven;
}

.b8 {
  grid-area: eight;
}

.b9 {
  grid-area: nine;
}

.Add {
  grid-area: add;
  background-color: rgb(242, 255, 0);
}

.Minus {
  grid-area: minus;
  background-color: rgb(242, 255, 0);
}

.Div {
  grid-area: division;
  background-color: rgb(242, 255, 0);
}

.Multiply {
  grid-area: X;
  background-color: rgb(242, 255, 0);
}

.Equal {
  grid-area: equals;
  background-color: rgb(242, 255, 0);
}

.Percent {
  grid-area: percentage;
}

.Clear {
  grid-area: AC;
  background-color: rgb(255, 38, 0);
}

.plusMin {
  grid-area: plusminus;
}

.Deci {
  grid-area: decimal;
}

.btn {
  border: none;
  border: 1px solid rgb(160, 155, 155);
}
